html,
body {
    height: 100%;
    width: 100%;
    justify-content: center;
    background-image: linear-gradient(to left, #9c88ff, #3cadeb);
    display: flex;
}
#outside {
    border-radius: 25px;
    height: 550px;
    position: relative;
    width: 1100px;
    top: 20%;
    /* 加边框阴影效果 */
    /* 水平偏移量 垂直偏移量 模糊半径 颜色 */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
    
    display: flex;
    background: white;
}
/* div内居中 */
.insider {
    width: 300px;
    height: 550px;
    justify-content: center;
    align-items: center;
}
.b {
    width: 800px;
    height: 100%;
    background-image: url("../img/homepage.jpg");
    /* 让图片适应大小 */
    background-size: cover;
    border-radius: 25px;
}
/* 边框 */
/* solid实线 */
/* dashed 虚线 */
#d {
    margin-top: 20%;
    margin-right: 20px;
}
/* 登录注册标题 */
#h {
    margin-left: 35%;
    margin-top: 30%;
    font-weight: bold;
    
}
/* 房地产系统标题 */
#h1 {
    height: 50%;
    position: absolute;
    top: 70%;
    left: 35%;
    transform: translate(-50%, -50%);
    font-style: italic;
    color: aliceblue;
    font-weight: bold;
    font-size: 50px;
}
#e {
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-color: blue;
}
/* 输入框样式 */
.e .el-input__inner {
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-color: blue;
}

.e .el-input__inner:hover {
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-color: red;
}

.e .el-form-item__label{
    font-size: 18px;
    font-weight: bold;
    
}

.e button{
    border-radius: 25px;
}
.e button:hover{
    background-color: hotpink;
    box-shadow: 2px 2px 5px  black;
}
