<!--
 * @Author: your name
 * @Date: 2021-12-18 19:50:26
 * @LastEditTime: 2021-12-23 10:17:34
 * @LastEditors: Please set LastEditors
 * @Description: 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
 * @FilePath: \FrontEndcode\staff\task.html
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff</title>
    <!-- 重置样式表 -->
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/normalize.css">
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- <script src="//unpkg.com/vue/dist/vue.js"></script> -->
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.15.7/lib/theme-chalk/index.css">
    <!-- <link rel="stylesheet" href="../css/index.css"> -->

    <!-- 引入组件库 -->
    <!-- <script src="https://unpkg.com/element-ui/lib/index.js"></script> -->
    <script src="../js/index.js"></script>
    <!-- <script src="//unpkg.com/element-ui@2.15.7/lib/index.js"></script> -->


    <!-- 引入axios -->
    <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
    <script src="../js/axios.min.js"></script>
    <!-- MDB icon -->
    <link rel="icon" href="../img/mdb-favicon.ico" type="image/x-icon">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href="../css/mdb.min.css">
    <!-- Your custom styles (optional) -->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="./style.css">
    <!-- jQuery -->
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="../js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="../js/mdb.min.js"></script>
    <!-- Your custom scripts (optional) -->
    <script type="text/javascript"></script>
    <script type="text/javascript" src="../js/deletecookie.js"></script>
    <!-- 基础样式 -->
    <link rel="stylesheet" href="../css/base.css">
    <script src="../global.js"></script>
    <link rel="stylesheet" href="./css/task.css">
</head>

<body>


    <div id="app">
        <header>
            <!--Navbar-->
            <nav class="navbar navbar-expand-md navbar-dark 	nav-color">
                <div class="container">
                    <!-- Navbar brand -->
                    <a class="navbar-brand" href="./staff.html">Staff</a>
                    <!-- Collapse button -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                        aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <!-- Collapsible content -->
                    <div class="collapse navbar-collapse" id="basicExampleNav">
                        <!-- Links -->
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="./staff.html">Home
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./project.html">项目</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">查询客户信息</a>
                            </li>

                        </ul>
                        <!-- Links -->

                    </div>

                    <!-- Collapsible content -->
                </div>
                <!-- 用户栏 -->
                <div>
                    <div class="user-notice">
                        <a href="./task.html">
                            <el-badge :is-dot="notice" class="notice-item">
                                <i class="el-icon-message-solid "></i>
                            </el-badge>
                        </a>
                    </div>
                    <el-dropdown>
                        <span class="el-dropdown-link" id="user">
                            {{username}}
                        </span>
                        <el-dropdown-menu slot="dropdown">
                            <el-dropdown-item divided>

                                <a id="personal" href="./home.html"><i class="el-icon-user"></i>个人资料</a>
                            </el-dropdown-item>
                            <el-dropdown-item divided id="trans" style="display: none;">
                                <a id="personal" href="../supervisor/supervisor.html"><i
                                        class="el-icon-thumb"></i>切换主管系统</a>
                            </el-dropdown-item>
                            <el-dropdown-item divided>
                                <div @click="exit">
                                    <i class="el-icon-circle-close"></i>
                                    <span>退出</span>
                                </div>
                            </el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>
                </div>
            </nav>
            <!--/.Navbar-->

        </header>

        <div class="card-wrapper  clearfix">
            <div class="left-nav">
                <div class="title">
                    <span>任务中心</span>
                </div>
                <div class="left-item " id="c-list" @click="changetoList()">
                    <a id="c-list-a"><i class="el-icon-user-solid"></i> 新的任务</a>
                </div>
                <div class="left-item " id="c-new" @click="changetoNew()">
                    <a id="c-new-a"><i class="el-icon-circle-plus"></i> 已接任务</a>
                </div>
            </div>
            <div class="inner">
                <div class="top">
                    <span>| {{innertitle}}</span>
                </div>
                <div class="content">
                    <!-- 新任务列表 -->
                    <el-tooltip class="item" effect="dark" content="双击左键查看任务详细信息" placement="top-start">
                        <el-table :data="task_data1" height="900" style="width: 100%;" id="content1" empty-text="当前无新任务"
                            @cell-dblclick="openDetails">
                            <el-table-column label="任务Id" prop="task_id" class="td-id" width="150">
                            </el-table-column>
                            <el-table-column label="任务性质" prop="task_property" width="150">
                            </el-table-column>
                            <el-table-column label="主管Id" prop="manager_id" width="100">
                            </el-table-column>
                            <el-table-column label="员工Id" prop="staff_id" width="100">
                            </el-table-column>
                            <el-table-column label="结束时间" prop="task_distribution_end_time" width="250">
                            </el-table-column>
                            <el-table-column label="任务接受" prop="task_distribution_is_accepted" width="150">
                            </el-table-column>
                            <el-table-column>
                                <template slot="header" slot-scope="scope">
                                    操作
                                </template>

                                <template slot-scope="scope">
                                    <el-button @click="handleEdit(scope.$index, scope.row)">接受</el-button>
                                    <el-button type="danger" @click="handleDelete(scope.$index, scope.row)">拒绝
                                    </el-button>
                                </template>
                            </el-table-column>
                        </el-table>
                    </el-tooltip>

                    <!-- 已接任务列表 -->
                    <el-tooltip class="item" effect="dark" content="双击左键查看任务详细信息" placement="top-start">
                        <el-table :data="task_data2" height="900" style="width: 100%;" id="content2"
                            @cell-dblclick="openDetails">
                            <el-table-column label="任务Id" prop="task_id" class="td-id" width="150">
                            </el-table-column>
                            <el-table-column label="任务性质" prop="task_property" width="150">
                            </el-table-column>
                            <el-table-column label="主管Id" prop="manager_id" width="100">
                            </el-table-column>
                            <el-table-column label="员工Id" prop="staff_id" width="100">
                            </el-table-column>
                            <el-table-column label="结束时间" prop="task_distribution_end_time" width="250">
                            </el-table-column>
                            <el-table-column label="任务接受" prop="task_distribution_is_accepted" width="150">
                            </el-table-column>
                            <el-table-column>
                                <template slot="header" slot-scope="scope">
                                    操作
                                </template>

                                <template slot-scope="scope">
                                    <el-button @click="handlefinish(scope.$index, scope.row)">完成</el-button>
                                    <el-button @click="handle(scope.$index, scope.row)">项目资料</el-button>
                                </template>
                            </el-table-column>
                        </el-table>
                    </el-tooltip>


                </div>
            </div>

        </div>

        <!-- 任務详细信息 -->

        <el-dialog title="任务详细信息" :visible.sync="dialogVisible2" id="dialog3">

            <el-form ref="temp_task" :model="temp_task" label-width="100px">

                <el-form-item label="任务Id">
                    <el-input v-model="temp_task.task_id" :disabled="true"></el-input>
                </el-form-item>
                <el-form-item label="主管Id">
                    <el-input v-model="temp_task.manager_id" :disabled="true"></el-input>
                </el-form-item>
                <el-form-item label="员工Id">
                    <el-input v-model="temp_task.staff_id" :disabled="true"></el-input>
                </el-form-item>
                <el-form-item label="任务性质">
                    <el-input v-model="temp_task.task_property" :disabled="true"></el-input>
                </el-form-item>
                <el-form-item label="任务接受">
                    <el-input v-model="temp_task.task_distribution_is_accepted" :disabled="true"></el-input>
                </el-form-item>
                <el-form-item label="任务信息">
                    <el-input type="textarea" v-model="temp_task.task_info" :disabled="true"
                        :autosize="{ minRows: 2, maxRows: 5}">
                    </el-input>
                </el-form-item>
                <el-form-item label="开始时间">
                    <el-input :disabled="true" v-model="temp_task.task_distribution_begin_time" style="width: 100%;">
                    </el-input>
                </el-form-item>
                <el-form-item label="结束时间">
                    <el-input :disabled="true" v-model="temp_task.task_distribution_end_time" style="width: 100%;">
                    </el-input>
                </el-form-item>
                <el-form-item label="审核意见" >
                    <el-input type="textarea" v-model="temp_task.task_advise_content" :disabled="true"
                        :autosize="{ minRows: 2, maxRows: 5}">
                    </el-input>
                </el-form-item>
                <el-divider></el-divider>


            </el-form>

        </el-dialog>




        <!-- 回到顶部工具栏 -->
        <div class="to-top">
            <a href="#">
                <i class="el-icon-top" title="回到顶部"></i>
            </a>
            <a href="./home.html">
                <i class="el-icon-user" title="个人资料"></i>
            </a>
        </div>
    </div>
    <script>
        // 切换主管系统按钮
        var trans = document.getElementById("trans");
        console.log(trans.style)

        var app = new Vue({
            el: "#app",
            created() {
                //合并时，读取账号信息，如果该账号是员工，则不显示切换按钮，是主管则显示
                var s = ''
                s = getCookie('job')
                if (s.indexOf('主管') != -1) {
                    trans.style.display = "block"
                }
                else {
                    trans.style.display = "none"
                }
                axios.get(port + 'task/get_staff_task/' + getCookie('staff_id')).then(res => {
                    console.log(res.data)
                    if (res.data.msg == 'ok') {
                        this.notice = true
                    } else {
                        this.notice = false
                    }
                    data = res.data.data
                    for (let i in data) {
                        this.task_data1.push({
                            task_distribution_is_accepted: data[i].task_distribution_is_accepted,
                            task_distribution_begin_time: data[i].task_distribution_begin_time,
                            task_distribution_end_time: data[i].task_distribution_end_time,
                            task_info: data[i].task_info,
                            project_id: data[i].project_id,
                            staff_id: data[i].staff_id,
                            manager_id: data[i].manager_id,
                            task_property: data[i].task_property,
                            task_id: data[i].task_id,
                            task_distribution_id: data[i].task_distribution_id,
                        })

                    }
                })
                axios.get(port + 'task/get_staff_task_accepted/' + getCookie('staff_id')).then(res => {
                    data = res.data.data
                    for (let i in data) {
                        this.task_data2.push({
                            task_distribution_is_accepted: data[i].task_distribution_is_accepted,
                            task_distribution_begin_time: data[i].task_distribution_begin_time,
                            task_distribution_end_time: data[i].task_distribution_end_time,
                            task_info: data[i].task_info,
                            project_id: data[i].project_id,
                            staff_id: data[i].staff_id,
                            manager_id: data[i].manager_id,
                            task_property: data[i].task_property,
                            task_id: data[i].task_id,
                            task_distribution_id: data[i].task_distribution_id,
                        })

                    }
                })

            },
            data() {
                return {
                    username: getCookie('name'),
                    src: "../img/mdb-favicon.ico",
                    notice: false,  //true则显示红点，false不显示红点
                    innertitle: '新的任务',
                    dialogVisible2: false,
                    task_data1: [],
                    task_data2: [],
                    temp_task: [],

                };


            },
            mounted() {
                if (this.timer) {
                    clearInterval(this.timer)
                } else {
                    this.timer = setInterval(() => {
                        // console.log(1)
                        //获取数据
                        axios.get(port + 'task/get_staff_task/' + getCookie('staff_id')).then(res => {
                            console.log(res.data)
                            if (res.data.msg == 'ok') {
                                this.notice = true
                            } else {
                                this.notice = false
                            }
                        })
                    }, 30000)
                }

            },

            methods: {
                exit: function () {
                    delCookie('user')
                    delCookie('password')
                    delCookie('name')
                    delCookie('job')
                    delCookie('department')
                    delCookie('phone')
                    window.location.href = '../index.html'
                },
                changetoList() {
                    // 修改左侧导航栏的样式
                    document.getElementById("c-list").style.backgroundColor = '#fafafa'
                    document.getElementById("c-new").style.backgroundColor = '#fafafa'
                    document.getElementById("c-new-a").style.color = '#222222'
                    document.getElementById("c-list-a").style.color = '#222222'
                    document.getElementById("c-list").style.backgroundColor = '#00a1d7'
                    document.getElementById("c-list-a").style.color = 'white'
                    // 修改顶部title内容
                    this.innertitle = '新的任务'
                    document.getElementById("content1").style.display = 'block'
                    document.getElementById("content2").style.display = 'none'
                },
                changetoNew() {
                    document.getElementById("c-list").style.backgroundColor = '#fafafa'
                    document.getElementById("c-new").style.backgroundColor = '#fafafa'
                    document.getElementById("c-new-a").style.color = '#222222'
                    document.getElementById("c-list-a").style.color = '#222222'
                    document.getElementById("c-new").style.backgroundColor = '#00a1d7'
                    document.getElementById("c-new-a").style.color = 'white'
                    this.innertitle = '已接任务'
                    document.getElementById("content1").style.display = 'none'
                    document.getElementById("content2").style.display = 'block'
                },

                // 打开任务详细弹出框
                openDetails(row, column, event) {
                    console.log(row)
                    this.temp_task = row
                    this.dialogVisible2 = true
                    var task_info = row.task_info
                    axios.get(port + 'task/find_by_taskDistributionId/' + row.task_distribution_id).then(res => {
                        console.log(port + 'task/find_by_taskDistributionId/' + row.task_distribution_id)
                        console.log(res.data.data)
                        var data = res.data.data
                        this.temp_task.task_info = ''
                        this.temp_task.task_info = task_info
                        this.temp_task.task_advise_content = data[0].task_advise_content
                        console.log(this.temp_task)
                    })
                },
                // 接受任务
                handleEdit(index, row) {
                    console.log(row)
                    this.$confirm('是否接受任务', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'info'
                    }).then(() => {
                        console.log(row.task_distribution_id)
                        axios.post(port + 'task/modify_task_accepted/' + row.task_distribution_id).then(res => {
                            console.log(res.data)
                            if (res.data.status == 200) {
                                this.$message({
                                    type: 'success',
                                    message: '已接受任务!'
                                });
                                window.location.href = './task.html'
                            }
                        })

                    }).catch(() => {
                        // this.$message({
                        //     type: 'info',
                        //     message: '已取消删除'
                        // });
                    });
                },
                handleDelete(index, row) {
                    this.$confirm('是否拒接任务', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        console.log(row.task_distribution_id)
                        axios.post(port + 'task/modify_task_reject/' + row.task_distribution_id).then(res => {
                            console.log(res.data)
                            if (res.data.status == 200) {
                                this.$message({
                                    type: 'success',
                                    message: '已拒接任务!'
                                });
                                window.location.href = './task.html'
                            }
                        })

                    }).catch(() => {
                        // this.$message({
                        //     type: 'info',
                        //     message: '已取消删除'
                        // });
                    });
                },
                handlefinish(index, row) {
                    console.log(row)
                    this.$confirm('是否已完成任务', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'info'
                    }).then(() => {
                        console.log(row.task_distribution_id)
                        axios.post(port + 'task/modify_task_finished/' + row.task_distribution_id).then(res => {
                            console.log(res.data)
                            if (res.data.status == 200) {
                                this.$message({
                                    type: 'success',
                                    message: '已完成任务!'
                                });
                                window.location.href = './task.html'
                            }
                        })

                    }).catch(() => {
                        // this.$message({
                        //     type: 'info',
                        //     message: '已取消删除'
                        // });
                    });
                },
                // 访问项目文件
                handle(index, row) {
                    axios.get(port + 'project/find_project/' + row.project_id).then(res => {
                        console.log(res.data)
                        var data = res.data.data
                        window.open(port + 'folder/?pdir=' + data.project_name + '-' + data.client_name + '-' + data.project_beg_time.toString().split(' ')[0])
                    })

                },
            }

        })
    </script>


</body>

</html>