<!--
 * @Author: your name
 * @Date: 2021-12-23 10:02:11
 * @LastEditTime: 2021-12-23 10:20:47
 * @LastEditors: Please set LastEditors
 * @Description: 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
 * @FilePath: \FrontEndcode\supervisor\project.html
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supervisor</title>
    <!-- 重置样式表 -->
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- <script src="//unpkg.com/vue/dist/vue.js"></script> -->
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.15.7/lib/theme-chalk/index.css">
    <!-- <link rel="stylesheet" href="../css/index.css"> -->

    <!-- 引入组件库 -->
    <!-- <script src="https://unpkg.com/element-ui/lib/index.js"></script> -->
    <script src="../js/index.js"></script>
    <!-- <script src="//unpkg.com/element-ui@2.15.7/lib/index.js"></script> -->


    <!-- 引入axios -->
    <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
    <script src="../js/axios.min.js"></script>
    <!-- MDB icon -->
    <link rel="icon" href="../img/mdb-favicon.ico" type="image/x-icon">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href="../css/mdb.min.css">
    <!-- Your custom styles (optional) -->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="./style.css">
    <!-- jQuery -->
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="../js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="../js/mdb.min.js"></script>
    <!-- Your custom scripts (optional) -->
    <script type="text/javascript"></script>
    <script type="text/javascript" src="../js/deletecookie.js"></script>
    <!-- 基础样式 -->
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../admin/css/project.css">
    <script src="../global.js"></script>

</head>

<body>


    <div id="app">
        <header>
            <!--Navbar-->
            <nav class="navbar navbar-expand-md navbar-dark 	nav-color">
                <div class="container">
                    <!-- Navbar brand -->
                    <a class="navbar-brand" href="./supervisor.html">Supervisor</a>
                    <!-- Collapse button -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                        aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <!-- Collapsible content -->
                    <div class="collapse navbar-collapse" id="basicExampleNav">
                        <!-- Links -->
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="./supervisor.html">Home
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>

                            <!-- Dropdown -->
                            <li class="nav-item">
                                <a class="nav-link" href="./project.html">项目</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">审核任务</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" @click="dialogVisible5 = true">生成报表</a>
                            </li>

                        </ul>
                        <!-- Links -->

                    </div>

                    <!-- Collapsible content -->
                </div>
                <!-- 用户栏 -->
                <div>
                    <el-dropdown>
                        <span class="el-dropdown-link" id="user">
                            {{username}}
                        </span>
                        <el-dropdown-menu slot="dropdown">
                            <el-dropdown-item divided>

                                <a id="personal" href="./home.html"><i class="el-icon-user"></i>个人资料</a>
                            </el-dropdown-item>
                            <el-dropdown-item divided>

                                <a id="personal" href="../staff/staff.html"><i class="el-icon-thumb"></i>切换员工系统</a>
                            </el-dropdown-item>
                            <el-dropdown-item divided>
                                <div @click="exit">
                                    <i class="el-icon-circle-close"></i>
                                    <span>退出</span>
                                </div>
                            </el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>
                </div>
            </nav>

        </header>

        <div class="card-wrapper  clearfix">
            <div class="left-nav">
                <div class="title">
                    <span>项目中心</span>
                </div>
                <div class="left-item " id="c-list" @click="changetoList()">
                    <a id="c-list-a"><i class="el-icon-user-solid"></i> 项目列表</a>
                </div>
                <div class="left-item " id="c-new" @click="changetoNew()">
                    <a id="c-new-a"><i class="el-icon-circle-plus"></i> 新建项目</a>
                </div>
            </div>
            <div class="inner">
                <div class="top">
                    <span>| {{innertitle}}</span>
                </div>
                <div class="content">
                    <!-- 项目列表 -->
                    <el-tooltip class="item" effect="dark" content="双击左键查看项目详细信息" placement="top-start">
                        <el-table :data="tableData" height="900" style="width: 100%;" id="content1"
                            @cell-dblclick="openDetails">
                            <el-table-column label="项目Id" prop="project_id" class="td-id" width="100">
                            </el-table-column>
                            <el-table-column label="项目名称" prop="project_name" width="300">
                            </el-table-column>
                            <el-table-column label="项目进度(%)" prop="project_schedule" width="120">
                            </el-table-column>
                            <el-table-column label="客户负责人" prop="client_name" width="100">
                            </el-table-column>
                            <el-table-column label="项目状态" prop="project_state" width="100">
                            </el-table-column>
                            <el-table-column>
                                <template slot="header" slot-scope="scope">
                                    <div style="width: 50%; height: 50px;margin-right: 1px;">
                                        <el-input v-model="search_name" size="mini" placeholder="输入项目名称搜索"
                                            @input="query()" />
                                    </div>
                                    <div style="width: 50%; height: 50px;">
                                        <el-input v-model="search_customer" size="mini" placeholder="输入客户名称搜索"
                                            @input="query()" />
                                    </div>
                                </template>

                                <template slot-scope="scope">
                                    <el-button @click="handle(scope.$index, scope.row)"
                                        style="width: 50PX;padding: 0;line-height: 40PX;">文件</el-button>
                                    <el-button @click="handletask(scope.$index, scope.row)"
                                        style="width: 80PX;padding: 0;line-height: 40PX;">分配任务</el-button>
                                    <el-button @click="handleEdit(scope.$index, scope.row)">更新项目信息</el-button>
                                    <el-button type="danger" @click="handleDelete(scope.$index, scope.row)">
                                        删除项目</el-button>
                                </template>
                            </el-table-column>
                        </el-table>
                    </el-tooltip>

                    <!-- 新建项目 -->
                    <el-form ref="form" :model="form" label-width="100px" id="content2">
                        <el-form-item label="项目名称">
                            <el-input v-model="form.project_name"></el-input>
                        </el-form-item>
                        <!-- <el-form-item label="项目负责人">
                            <el-select v-model="form.principal" placeholder="请选择项目负责人">
                                <el-option v-for="item in options1" :key="item.value" :label="item.label"
                                    :value="item.value">
                                </el-option>
                            </el-select>
                        </el-form-item> -->
                        <el-form-item label="客户负责人">
                            <el-select v-model="form.client_id" placeholder="请选择客户负责人">
                                <el-option v-for="item in options2" :key="item.value" :label="item.label"
                                    :value="item.value">
                                </el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="开始时间">
                            <el-col :span="11">
                                <el-date-picker type="date" placeholder="选择日期" v-model="form.date1"
                                    value-format="yyyy-MM-dd" style="width: 100%;"></el-date-picker>
                            </el-col>
                            <el-col class="line" :span="2">-</el-col>
                            <el-col :span="11">
                                <el-time-picker placeholder="选择时间" v-model="form.date2" style="width: 100%;"
                                    value-format="HH:mm:ss">
                                </el-time-picker>
                            </el-col>
                        </el-form-item>
                        <el-form-item label="项目报价">
                            <el-input v-model="form.project_price"></el-input>
                        </el-form-item>

                        <el-form-item>
                            <el-button type="primary" @click="create_project">立即创建</el-button>

                        </el-form-item>
                    </el-form>
                </div>

            </div>
        </div>
        <!-- 修改项目对话框 -->
        <el-dialog title="修改项目信息" :visible.sync="dialogVisible" width="30%" :before-close="handleClose">
            <el-form ref="change_form" :model="change_form" label-width="100px">
                <el-form-item label="项目名称">
                    <el-input v-model="change_form.project_name"></el-input>
                </el-form-item>
                <!-- <el-form-item label="项目负责人">
                    <el-select v-model="form.principal" placeholder="请选择项目负责人">
                        <el-option v-for="item in options1" :key="item.value" :label="item.label" :value="item.value">
                        </el-option>
                    </el-select>
                </el-form-item> -->
                <el-form-item label="项目报价">
                    <el-input v-model="change_form.project_price"></el-input>
                </el-form-item>
                <el-form-item label="项目进度">
                    <el-input v-model="change_form.project_schedule"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="edit_project">修改</el-button>
                    <el-button @click="dialogVisible = false ">取消</el-button>
                </el-form-item>
            </el-form>
        </el-dialog>

        <!-- 分配任务对话框 -->
        <el-dialog title="分配任务" :visible.sync="dialogVisible1" width="30%">

            <el-form ref="form1" :model="form1" label-width="80px">
                <el-form-item label="任务描述">
                    <el-input type="textarea" v-model="form1.task_info"></el-input>
                </el-form-item>
                <el-form-item label="选择员工">
                    <el-select v-model="form1.staff_id" placeholder="请选择员工">
                        <el-option v-for="item in options3" :key="item.value" :label="item.label" :value="item.value">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="开始时间">
                    <el-col :span="11">
                        <el-date-picker type="date" placeholder="选择日期" v-model="form1.begin_date1" style="width: 100%;"
                            value-format="yyyy-MM-dd">
                        </el-date-picker>
                    </el-col>
                    <el-col class="line" :span="2">-</el-col>
                    <el-col :span="11">
                        <el-time-picker placeholder="选择时间" v-model="form1.begin_date2" style="width: 100%;"
                            value-format="HH:mm:ss">
                        </el-time-picker>
                    </el-col>
                </el-form-item>
                <el-form-item label="结束时间">
                    <el-col :span="11">
                        <el-date-picker type="date" placeholder="选择日期" v-model="form1.end_date1" style="width: 100%;"
                            value-format="yyyy-MM-dd">
                        </el-date-picker>
                    </el-col>
                    <el-col class="line" :span="2">-</el-col>
                    <el-col :span="11">
                        <el-time-picker placeholder="选择时间" v-model="form1.end_date2" style="width: 100%;"
                            value-format="HH:mm:ss">
                        </el-time-picker>
                    </el-col>

                </el-form-item>
                <el-form-item label="任务性质">
                    <el-radio v-model="form1.task_property" label="模型">模型</el-radio>
                    <el-radio v-model="form1.task_property" label="渲染">渲染</el-radio>
                    <el-radio v-model="form1.task_property" label="后期">后期</el-radio>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="create_task">立即分配</el-button>
                    <el-button @click="dialogVisible1 = false">取消</el-button>
                </el-form-item>
            </el-form>
        </el-dialog>

        <!-- 项目详细信息 -->

        <el-dialog title="项目详细信息" :visible.sync="dialogVisible2" id="dialog3">

            <el-form ref="form" :model="temp" label-width="100px">

                <el-form-item label="项目名称">
                    <el-input v-model="temp.project_name" :disabled="true"></el-input>
                </el-form-item>
                <!-- <el-form-item label="项目负责人">
                    <el-input v-model="temp.principal" :disabled="true"></el-input>

                </el-form-item> -->
                <el-form-item label="客户负责人">
                    <el-input v-model="temp.client_name" :disabled="true"></el-input>
                </el-form-item>
                <el-form-item label="开始时间">
                    <el-input :disabled="true" v-model="temp.project_beg_time" style="width: 100%;">
                    </el-input>
                </el-form-item>
                <el-form-item label="项目报价">
                    <el-input v-model="temp.project_price" :disabled="true"></el-input>
                </el-form-item>
                <el-form-item label="项目状态">
                    <el-input v-model="temp.project_state" :disabled="true"></el-input>
                </el-form-item>
                <el-form-item label="项目进度">
                    <el-progress :text-inside="true" :stroke-width="26" v-bind:percentage="temp.project_schedule"
                        style="line-height: 40px;">
                    </el-progress>
                    <el-button plain type="danger" @click="dialogVisible4 = true">回滚</el-button>
                </el-form-item>
                <el-divider></el-divider>
                <el-form-item label="任务列表">

                    <!-- <el-select v-model="taskproperty" placeholder="请选择任务性质">
                        <el-option v-for="item in options4" :key="item.value" :label="item.label" :value="item.value">
                        </el-option>
                    </el-select> -->
                </el-form-item>

            </el-form>
            <!-- 任务列表 -->

            <el-table :data="task_data" height="700" style="width: 100%;" @cell-dblclick="opentaskDetails">
                <el-table-column label="任务Id" prop="task_id" class="td-id" width="150">
                </el-table-column>
                <el-table-column label="任务性质" prop="task_property" width="100">
                </el-table-column>
                <el-table-column label="主管Id" prop="manager_id" width="150">
                </el-table-column>
                <el-table-column label="员工Id" prop="staff_id" width="150">
                </el-table-column>
                <el-table-column label="任务接受" prop="task_distribution_is_accepted" width="100">
                </el-table-column>
                <el-table-column>
                    <template slot="header" slot-scope="scope">
                        <div style="width: 50%; height: 50px;margin-right: 1px;">
                            <el-input v-model="search_task_property" size="mini" placeholder="输入任务性质"
                                @input="query1()" />
                        </div>
                        <div style="width: 50%; height: 50px;">
                            <el-input v-model="search_task_distribution_is_accepted" size="mini" placeholder="输入任务接受"
                                @input="query1()" />
                        </div>

                    </template>

                    <template slot-scope="scope">
                        <el-button @click="add_task_advise(scope.$index, scope.row)">审核任务
                        </el-button>
                        <!-- <el-button type="danger" @click="handleDelete(scope.$index, scope.row)">delete</el-button> -->
                    </template>
                </el-table-column>
            </el-table>

        </el-dialog>

        <!-- 任务详细信息 -->

        <el-dialog title="任务  详细信息" :visible.sync="dialogVisible3" id="dialog4">

            <el-form ref="temp_task" :model="temp_task" label-width="100px">

                <el-form-item label="任务Id">
                    <el-input v-model="temp_task.task_id" :disabled="true"></el-input>
                </el-form-item>
                <el-form-item label="主管Id">
                    <el-input v-model="temp_task.manager_id" :disabled="true"></el-input>
                </el-form-item>
                <el-form-item label="员工Id">
                    <el-input v-model="temp_task.staff_id" :disabled="true"></el-input>
                </el-form-item>
                <el-form-item label="任务性质">
                    <el-input v-model="temp_task.task_property" :disabled="true"></el-input>
                </el-form-item>
                <el-form-item label="任务接受">
                    <el-input v-model="temp_task.task_distribution_is_accepted" :disabled="true"></el-input>
                </el-form-item>
                <el-form-item label="任务信息">
                    <el-input v-model="temp_task.task_info" :disabled="true" :autosize="{ minRows: 2, maxRows: 4}">
                    </el-input>
                </el-form-item>
                <el-form-item label="开始时间">
                    <el-input :disabled="true" v-model="temp_task.task_distribution_begin_time" style="width: 100%;">
                    </el-input>
                </el-form-item>
                <el-form-item label="结束时间">
                    <el-input :disabled="true" v-model="temp_task.task_distribution_end_time" style="width: 100%;">
                    </el-input>
                </el-form-item>
                <el-divider></el-divider>


            </el-form>
            <!-- 任务列表 -->


        </el-dialog>

        <!-- 项目回滚 -->
        <el-dialog title="请选择回滚至哪个阶段" :visible.sync="dialogVisible4" width="30%">
            <el-radio v-model="radio1" label="模型">模型</el-radio>
            <el-radio v-model="radio1" label="渲染">渲染</el-radio>
            <el-radio v-model="radio1" label="后期">后期</el-radio>
            <span slot="footer" class="dialog-footer">
                <el-button @click="dialogVisible4 = false">取 消</el-button>
                <el-button type="primary" @click="back">确 定</el-button>
            </span>
        </el-dialog>

        <!-- 生成报表 -->
        <el-dialog title="生成报表" :visible.sync="dialogVisible5" width="30%">
            <el-radio v-model="radio2" label="客户报表">客户报表</el-radio>
            <el-radio v-model="radio2" label="项目报表">项目报表</el-radio>
            <el-radio v-model="radio2" label="员工报表">员工报表</el-radio>
            <span slot="footer" class="dialog-footer">
                <el-button @click="dialogVisible5 = false">取 消</el-button>
                <el-button type="primary" @click="produce">确 定</el-button>
            </span>
        </el-dialog>
        <!-- 回到顶部工具栏 -->
        <div class="to-top">
            <a href="#">
                <i class="el-icon-top" title="回到顶部"></i>
            </a>
            <a href="./home.html">
                <i class="el-icon-user" title="个人资料"></i>
            </a>
        </div>


    </div>

    <script>

        var app = new Vue({
            el: "#app",
            created() {
                axios.get(port + 'project/find_all').then(res => {
                    console.log(res.data)
                    data = res.data.data
                    console.log(data)
                    for (let i in data) {
                        this.tableData1.push({
                            project_id: data[i].project_id,
                            project_name: data[i].project_name,
                            project_person_in_charge: data[i].project_person_in_charge,
                            client_name: data[i].client_name,
                            project_state: data[i].project_state,
                            project_beg_time: data[i].project_beg_time,
                            project_price: data[i].project_price,
                            project_schedule: data[i].project_schedule, //项目进度
                            // manager_id:data[i][0].manager_id
                        })

                    }
                    console.log(this.tableData1)
                    this.tableData = this.tableData1
                })
                axios.get(port + 'client/find_all').then(res => {
                    data = res.data.data
                    for (let i in data) {
                        this.options2.push({
                            value: data[i].client_id + ',' + data[i].client_name,
                            label: data[i].client_name,
                        })
                    }
                })

                axios.get(port + 'user/find_depart_staff/' + getCookie('department')).then(res => {
                    data = res.data.data
                    for (let i in data) {
                        this.options3.push({
                            value: data[i].staff_id,
                            label: data[i].name
                        })
                    }
                })
            },
            data() {

                return {

                    username: getCookie('name'),
                    src: "../img/mdb-favicon.ico",
                    tableData: [
                        // {
                        //     id: '1',
                        //     name: '扫黄打黑',
                        //     principal: '彭海丽',
                        //     customer: "范美浩",
                        //     status: '未完成',
                        //     date1: '1',
                        //     date2: '22:02:56'
                        // }
                    ],
                    //tabledata的备份
                    tableData1: [
                        // {
                        //     id: '1',
                        //     name: '扫黄打黑',
                        //     principal: '彭海丽',
                        //     customer: "范美浩",
                        //     status: '未完成'
                        // }
                    ],
                    search_name: '',
                    search_customer: '',
                    innertitle: '项目列表',
                    dialogVisible: false,
                    dialogVisible1: false,
                    dialogVisible2: false,
                    dialogVisible3: false,
                    dialogVisible4: false,
                    dialogVisible5: false,
                    form: {
                        // project_id: '',
                        project_name: '',
                        project_person_in_charge: '',
                        client_id: '',
                        client_name: '',
                        project_state: '未完成',
                        project_beg_time: '',
                        date1: '',
                        date2: '',
                        project_price: '',
                        project_schedule: '0',
                        manager_id: '',
                        project_id: ''
                    },
                    //项目负责人下拉列表
                    options1: [{
                        value: '选项1',
                        label: '黄金糕'
                    }, {
                        value: '选项2',
                        label: '双皮奶'
                    }, {
                        value: '选项3',
                        label: '蚵仔煎'
                    }, {
                        value: '选项4',
                        label: '龙须面'
                    }, {
                        value: '选项5',
                        label: '北京烤鸭'
                    }],
                    //客户负责人下拉列表
                    options2: [],
                    // 分配任务员工下拉列表
                    options3: [],
                    //分配任务表单
                    form1: {
                        begin_date1: '',
                        begin_date2: '',
                        end_date1: '',
                        end_date2: '',
                        // task_distribution_state:'已分配',
                        task_distribution_is_accepted: '否',
                        task_distribution_begin_time: '',
                        task_distribution_end_time: '',
                        task_info: '',
                        project_id: '',
                        staff_id: '',
                        manager_id: getCookie('staff_id'),
                        task_property: ''
                    },
                    temp: '',//临时存放选取的项目的信息
                    // 查看任务栏变量
                    taskstatus: '',
                    taskproperty: '',
                    // 任务性质列表
                    options4: [{
                        value: '建模',
                        label: '建模任务'
                    }, {
                        value: '渲染',
                        label: '渲染任务'
                    }, {
                        value: '后期',
                        label: '后期任务'
                    },],
                    // 任务状态列表
                    options5: [{
                        value: '已完成',
                        label: '已完成'
                    }, {
                        value: '执行中',
                        label: '执行中'
                    }, {
                        value: '未开始',
                        label: '未开始'
                    }, {
                        value: '审核中',
                        label: '审核中'
                    },],
                    change_form: {
                        project_id: '',
                        project_name: '',
                        project_person_in_charge: '',
                        client_name: '',
                        project_state: '',
                        project_beg_time: '',
                        project_price: '',
                        project_schedule: '',
                    },
                    task_data: [],
                    task_data1: [],
                    temp_task: [],
                    search_task_property: '',
                    search_task_distribution_is_accepted: '',
                    radio1: '模型',
                    radio2: '',
                };
            },
            methods: {
                //列表数据搜索
                query() {
                    this.tableData = []
                    if (this.search_name != '' && this.search_customer != '') {
                        for (let i in this.tableData1) {
                            if (this.tableData1[i].project_name.indexOf(this.search_name) != -1 && this.tableData1[i].client_name.indexOf(this.search_customer) != -1) {
                                this.tableData.push(this.tableData1[i])
                            }
                        }
                    }
                    else if (this.search_name != '' && this.search_customer == '') {
                        for (let i in this.tableData1) {
                            if (this.tableData1[i].project_name.indexOf(this.search_name) != -1) {
                                this.tableData.push(this.tableData1[i])
                            }
                        }
                    }
                    else if (this.search_name == '' && this.search_customer != '') {
                        for (let i in this.tableData1) {
                            if (this.tableData1[i].client_name.indexOf(this.search_customer) != -1) {
                                this.tableData.push(this.tableData1[i])
                            }
                        }
                    }
                    else {
                        this.tableData = this.tableData1
                    }

                },
                query1() {
                    this.task_data = []
                    console.log(this.search_task_property)
                    if (this.search_task_property != '' && this.search_task_distribution_is_accepted != '') {
                        for (let i in this.task_data1) {
                            if (this.task_data1[i].task_property.toString().indexOf(this.search_task_property) != -1 && this.task_data1[i].task_distribution_is_accepted.toString().indexOf(this.search_task_distribution_is_accepted) != -1) {
                                this.task_data.push(this.task_data1[i])
                            }
                        }
                    }
                    else if (this.search_task_property != '' && this.search_task_distribution_is_accepted == '') {
                        for (let i in this.task_data1) {
                            if (this.task_data1[i].task_property.toString().indexOf(this.search_task_property) != -1) {
                                this.task_data.push(this.task_data1[i])
                            }
                        }
                    }
                    else if (this.search_task_property == '' && this.search_task_distribution_is_accepted != '') {
                        for (let i in this.task_data1) {
                            if (this.task_data1[i].task_distribution_is_accepted.toString().indexOf(this.search_task_distribution_is_accepted) != -1) {
                                this.task_data.push(this.task_data1[i])
                            }
                        }
                    }
                    else {
                        this.task_data = this.task_data1
                    }

                },

                handleClose(done) {
                    this.$confirm('确认关闭？')
                        .then(_ => {
                            done();
                            this.form = ""
                            this.form1 = ""
                        })
                        .catch(_ => { });
                },
                exit: function () {
                    delCookie('user')
                    delCookie('password')
                    delCookie('name')
                    delCookie('job')
                    delCookie('department')
                    delCookie('phone')
                    window.location.href = '../index.html'
                },
                handletask(index, row) {
                    console.log(index, row);
                    this.dialogVisible1 = true
                    this.form1.project_id = row.project_id
                },
                handleEdit(index, row) {
                    console.log(index, row);
                    this.dialogVisible = true
                    // this.change_form = row
                    this.change_form.project_name = row.project_name
                    this.change_form.project_price = row.project_price
                    this.change_form.project_schedule = row.project_schedule
                    this.change_form.project_id = row.project_id
                    this.change_form.project_person_in_charge = row.project_person_in_charge
                    this.change_form.client_name = row.client_name
                    this.change_form.project_state = row.project_state
                    this.change_form.project_beg_time = row.project_beg_time

                    console.log(this.change_form)
                },
                handleDelete(index, row) {
                    // console.log(index, row);
                    this.$confirm('此操作将永久删除该项目, 是否继续?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        axios.delete(port + 'project/delete_project/' + row.project_id).then(res => {
                            console.log(res.data)
                            if (res.data.msg == '删除成功') {
                                this.$message({
                                    type: 'success',
                                    message: '删除成功!'
                                });
                                window.location.href = './project.html'
                            }
                        })

                    }).catch(() => {
                        this.$message({
                            type: 'info',
                            message: '已取消删除'
                        });
                    });
                },
                changetoList() {
                    // 修改左侧导航栏的样式
                    document.getElementById("c-list").style.backgroundColor = '#fafafa'
                    document.getElementById("c-new").style.backgroundColor = '#fafafa'
                    document.getElementById("c-new-a").style.color = '#222222'
                    document.getElementById("c-list-a").style.color = '#222222'
                    document.getElementById("c-list").style.backgroundColor = '#00a1d7'
                    document.getElementById("c-list-a").style.color = 'white'
                    // 修改顶部title内容
                    this.innertitle = '项目列表'
                    document.getElementById("content1").style.display = 'block'
                    document.getElementById("content2").style.display = 'none'
                },
                changetoNew() {
                    document.getElementById("c-list").style.backgroundColor = '#fafafa'
                    document.getElementById("c-new").style.backgroundColor = '#fafafa'
                    document.getElementById("c-new-a").style.color = '#222222'
                    document.getElementById("c-list-a").style.color = '#222222'
                    document.getElementById("c-new").style.backgroundColor = '#00a1d7'
                    document.getElementById("c-new-a").style.color = 'white'
                    this.innertitle = '新建项目'
                    document.getElementById("content1").style.display = 'none'
                    document.getElementById("content2").style.display = 'block'
                },
                // 打开项目详细弹出框
                openDetails(row, column, event) {
                    console.log(row)
                    this.temp = row
                    this.dialogVisible2 = true
                    this.task_data = []
                    this.task_data1 = []
                    // 任务列表
                    // console.log(port + 'task/get_task?project_id='+row.project_id+'&manager_id='+getCookie('staff_id'))
                    axios.get(port + 'task/get_task?project_id=' + row.project_id + '&manager_id=' + getCookie('staff_id')).then(res => {
                        console.log(res.data)
                        data = res.data.data
                        console.log(data)
                        for (let i in data) {
                            this.task_data1.push({
                                task_distribution_is_accepted: data[i].task_distribution_is_accepted,
                                task_distribution_begin_time: data[i].task_distribution_begin_time,
                                task_distribution_end_time: data[i].task_distribution_end_time,
                                task_info: data[i].task_info,
                                project_id: data[i].project_id,
                                staff_id: data[i].staff_id,
                                manager_id: data[i].manager_id,
                                task_property: data[i].task_property,
                                task_id: data[i].task_id,
                                task_distribution_id: data[i].task_distribution_id
                            })

                        }
                        console.log(this.task_data1)
                        this.task_data = this.task_data1
                    })
                },
                // 打开任务详细弹出框
                opentaskDetails(row, column, event) {
                    console.log(row)
                    this.temp_task = row
                    this.dialogVisible3 = true

                },
                // 修改项目信息按钮
                edit_project() {

                    axios.post(port + 'project/modify_project/' + this.change_form.project_id, this.change_form).then(res => {
                        console.log(res.data)
                        this.$message({
                            message: '修改成功!',
                            type: 'success'
                        });
                        window.location.href = './project.html'
                    })
                },
                // 创建项目
                create_project() {
                    this.form.project_beg_time = this.form.date1 + this.form.date2
                    // this.form.manager_id=getCookie('staff_id')
                    var id = this.form.client_id
                    this.form.client_id = id.split(',')[0]
                    this.form.client_name = id.split(',')[1]
                    if (this.form.project_name == '') {
                        alert('请输入项目名称！')
                    } else if (this.form.client_id == '') {
                        alert('请选择客户！')
                    } else {
                        console.log(this.form)
                        axios.post(port + 'project/add_project', this.form).then(res => {
                            console.log(res.data)
                            if (res.data.msg == '录入成功') {
                                this.$message({
                                    message: '创建成功!',
                                    type: 'success'
                                });
                                this.form.project_id = res.data.data.project_id
                                axios.post(port + 'mkdir_pro_cli_time/', this.form).then(res => {
                                    console.log(res.data)
                                    console.log(1)
                                    console.log(this.form)
                                })
                                window.location.href = './project.html'
                            }
                        })
                    }

                },
                create_task() {
                    this.form1.task_distribution_begin_time = this.form1.begin_date1 + ' ' + this.form1.begin_date2
                    this.form1.task_distribution_end_time = this.form1.end_date1 + ' ' + this.form1.end_date2
                    console.log(this.form1)
                    axios.post(port + 'task/add_task_distribution', this.form1).then(res => {
                        console.log(res.data)
                        if (res.data.msg == '录入成功') {
                            this.$message({
                                message: '分配任务成功!',
                                type: 'success'
                            });
                            window.location.href = './project.html'
                        } else {
                            this.$message({
                                message: '分配任务失败!',
                                type: 'warning'
                            });
                        }
                    })
                },
                // 回滚
                back() {
                    this.$confirm('此操作将回滚该文件, 是否继续?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        axios.post(port + 'project/modify_project_schedule?project_id=' + this.temp.project_id + '&project_state=' + this.radio1).then(res => {
                            console.log(res.data)
                            if (res.data.status == 200) {
                                this.$message({
                                    type: 'success',
                                    message: '回滚成功!'
                                });
                                window.location.href = './project.html'
                            } else {
                                this.$message({
                                    type: 'warning',
                                    message: '回滚失败!'
                                });
                            }

                        })

                    }).catch(() => {
                        this.$message({
                            type: 'info',
                            message: '已取消回滚'
                        });
                    });
                },
                // 生成报表
                produce() {
                    if (this.radio2 == '') {
                        this.$message({
                            message: '请选择生成哪种报表！',
                            type: 'warning'
                        });
                    } else if (this.radio2 == '客户报表') {
                        axios.get(port + 'client/client_report_form ').then(res => {
                            console.log(res.data)
                            window.location.href = port + 'client/client_report_form '
                        })
                    } else if (this.radio2 == '项目报表') {
                        axios.get(port + 'project/project_report_form').then(res => {
                            console.log(res.data)
                            window.location.href = port + 'project/project_report_form'
                        })
                    } else {
                        axios.get(port + 'user/user_report_form').then(res => {
                            console.log(res.data)
                            window.location.href = port + 'user/user_report_form'
                        })
                    }
                },
                handle(index, row) {
                    window.open(port + 'folder/?pdir=' + row.project_name + '-' + row.client_name + '-' + row.project_beg_time.toString().split(' ')[0])
                },
                // 审核任务 给意见
                add_task_advise(index, row) {
                    console.log(row)
                    this.$prompt('请输入审核意见', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        // inputPattern: /[\w!#$%&'*+/=?^_`{|}~-]+(?:\.[\w!#$%&'*+/=?^_`{|}~-]+)*@(?:[\w](?:[\w-]*[\w])?\.)+[\w](?:[\w-]*[\w])?/,
                        // inputErrorMessage: '邮箱格式不正确'
                        inputType: 'textarea',
                    }).then(({ value }) => {
                        var task_advise = {
                            task_distribution: row.task_distribution_id.toString(),
                            task_advise_content: value,
                            task_reviewer: getCookie('name'),
                            task_manager: getCookie('staff_id')
                        }

                        console.log(task_advise)
                        axios.post(port + 'task/add_task_advise', task_advise).then(res => {
                            console.log(1)
                            console.log(res.data)
                            if (res.data.status == 200) {
                                this.$message({
                                    type: 'success',
                                    message: '发送意见成功'
                                });
                            }

                        })

                    }).catch(() => {
                        this.$message({
                            type: 'info',
                            message: '取消输入'
                        });
                    });
                },
            }

        })
    </script>


</body>

</html>