<!--
 * @Author: your name
 * @Date: 2021-12-10 19:27:05
 * @LastEditTime: 2021-12-23 09:56:51
 * @LastEditors: Please set LastEditors
 * @Description: 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
 * @FilePath: \FrontEndcode\admin\home.html
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrator</title>
    <!-- 重置样式表 -->
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/normalize.css">
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- <script src="//unpkg.com/vue/dist/vue.js"></script> -->
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.15.7/lib/theme-chalk/index.css">
    <!-- <link rel="stylesheet" href="../css/index.css"> -->

    <!-- 引入组件库 -->
    <!-- <script src="https://unpkg.com/element-ui/lib/index.js"></script> -->
    <script src="../js/index.js"></script>
    <!-- <script src="//unpkg.com/element-ui@2.15.7/lib/index.js"></script> -->


    <!-- 引入axios -->
    <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
    <script src="../js/axios.min.js"></script>
    <!-- MDB icon -->
    <link rel="icon" href="../img/mdb-favicon.ico" type="image/x-icon">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href="../css/mdb.min.css">
    <!-- Your custom styles (optional) -->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="./style.css">
    <!-- jQuery -->
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="../js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="../js/mdb.min.js"></script>
    <!-- Your custom scripts (optional) -->
    <script type="text/javascript"></script>
    <script type="text/javascript" src="../js/deletecookie.js"></script>
    <!-- 基础样式 -->
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="./css/home.css">
    <script src="../global.js"></script>

</head>

<body>


    <div id="app">
        <header>
            <!--Navbar-->
            <nav class="navbar navbar-expand-md navbar-dark nav-color ">
                <div class="container">
                    <!-- Navbar brand -->
                    <a class="navbar-brand" href="./admin.html">Administrator</a>
                    <!-- Collapse button -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                        aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <!-- Collapsible content -->
                    <div class="collapse navbar-collapse" id="basicExampleNav">
                        <!-- Links -->
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="./admin.html">Home
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="project.html">项目管理</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./staffinfo.html">员工管理</a>
                            </li>



                            <li class="nav-item">
                                <a class="nav-link" href="./customer.html">客户管理</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" @click="dialogVisible5 = true">生成报表</a>
                            </li>
                        </ul>
                        <!-- Links -->

                    </div>

                    <!-- Collapsible content -->
                </div>
                <!-- 用户栏 -->
                <div>
                    <el-dropdown>
                        <span class="el-dropdown-link" id="user">
                            {{username}}
                        </span>
                        <el-dropdown-menu slot="dropdown">
                            <el-dropdown-item divided>
                                <a id="personal" href="./home.html"><i class="el-icon-user"></i>个人资料</a>
                            </el-dropdown-item>
                            <el-dropdown-item divided>
                                <div @click="exit">
                                    <i class="el-icon-circle-close"></i>
                                    <span>退出</span>
                                </div>
                            </el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>
                </div>
            </nav>
            <!--/.Navbar-->
        </header>

        <div class="card-wrapper  clearfix">
            <div class="left-nav">
                <div class="title">
                    <span>个人中心</span>
                </div>
                <div class="left-item">
                    <a>我的信息</a>
                </div>
            </div>
            <div class="inner">
                <div class="top">
                    <span>| 我的信息</span>
                </div>
                <div class="content">
                    <el-form ref="form" :model="form" label-width="80px" style="margin: 0 auto;">
                        <el-form-item class="e" label="姓名：">
                            <el-input v-model="form.name"></el-input>
                        </el-form-item>
                        <el-form-item class="e" label="账号：">
                            <el-input v-model="form.account" :disabled="true"></el-input>
                        </el-form-item>
                        <el-form-item label="身份：">
                            <el-select v-model="form.job" :placeholder="idph" :disabled="true">
                                <el-option label="模型主管" value="模型主管"></el-option>
                                <el-option label="渲染主管" value="渲染主管"></el-option>
                                <el-option label="后期主管" value="后期主管"></el-option>
                                <el-option label="模型员工" value="模型员工"></el-option>
                                <el-option label="渲染员工" value="渲染员工"></el-option>
                                <el-option label="后期员工" value="后期员工"></el-option>
                                <el-option label="前台" value="前台"></el-option>
                            </el-select>
                        </el-form-item>

                        <el-form-item class="p" label="手机号：">
                            <el-input type="text" v-model="form.phone"></el-input>
                        </el-form-item>
                        <el-form-item>
                            <el-button class="savebtn" type="primary" @click="onSubmit">保存</el-button>
                        </el-form-item>
                    </el-form>
                </div>
            </div>
        </div>


        <!-- 生成报表 -->
        <el-dialog title="生成报表" :visible.sync="dialogVisible5" width="30%">
            <el-radio v-model="radio2" label="客户报表">客户报表</el-radio>
            <el-radio v-model="radio2" label="项目报表">项目报表</el-radio>
            <el-radio v-model="radio2" label="员工报表">员工报表</el-radio>
            <span slot="footer" class="dialog-footer">
                <el-button @click="dialogVisible5 = false">取 消</el-button>
                <el-button type="primary" @click="produce">确 定</el-button>
            </span>
        </el-dialog>
        <!-- 回到顶部工具栏 -->
        <div class="to-top">
            <a href="#">
                <i class="el-icon-top" title="回到顶部"></i>
            </a>
            <a href="./home.html">
                <i class="el-icon-user" title="个人资料"></i>
            </a>
        </div>

    </div>

    <script>

        var app = new Vue({
            el: "#app",
            data() {
                return {
                    username: getCookie('name'),
                    src: "../img/mdb-favicon.ico",
                    notice: true,  //true则显示红点，false不显示红点
                    form: {
                        name: getCookie('name'),
                        account: getCookie('user'),
                        job: getCookie('job'),
                        department: getCookie('department'),
                        phone: getCookie('phone'),
                        // staff_id:getCookie('staff_id')
                    },
                    idph: '111',
                    dialogVisible5: false,
                    radio2: '',
                };


            },
            methods: {
                onSubmit: function () {
                    axios.post(port + 'user/update_staff_info/' + getCookie('staff_id'), this.form).then(res => {
                        console.log(res.data)
                        this.$message({
                            message: '修改成功!',
                            type: 'success'
                        });
                        delCookie('name')
                        delCookie('job')
                        delCookie('department')
                        delCookie('phone')
                        document.cookie = 'job=' + this.form.job + ';path=/'
                        document.cookie = 'department=' + this.form.department + ';path=/'
                        document.cookie = 'name=' + this.form.name + ';path=/'
                        document.cookie = 'phone=' + this.form.phone + ';path=/'
                        this.username = this.form.name
                    })
                },
                exit: function () {
                    delCookie('user')
                    delCookie('password')
                    delCookie('name')
                    delCookie('job')
                    delCookie('department')
                    delCookie('phone')
                    window.location.href = '../index.html'
                },
                // 生成报表
                produce() {
                    if (this.radio2 == '') {
                        this.$message({
                            message: '请选择生成哪种报表！',
                            type: 'warning'
                        });
                    } else if (this.radio2 == '客户报表') {
                        axios.get(port + 'client/client_report_form ').then(res => {
                            console.log(res.data)
                            window.location.href = port + 'client/client_report_form '
                        })
                    } else if (this.radio2 == '项目报表') {
                        axios.get(port + 'project/project_report_form').then(res => {
                            console.log(res.data)
                            window.location.href = port + 'project/project_report_form'
                        })
                    } else {
                        axios.get(port + 'user/user_report_form').then(res => {
                            console.log(res.data)
                            window.location.href = port + 'user/user_report_form'
                        })
                    }
                },

            }

        })

    </script>


</body>

</html>