html,
body,
header,
#intro {
    height: 100%;
}

#intro {
    background: url("../img/sample.jpg") no-repeat center center fixed;
    -webkit-background-size: cover; /* 针对Chrome, Safari, Edge等浏览器 */
    -moz-background-size: cover; /* 针对Firefox浏览器 */
    -o-background-size: cover; /* 针对Operallq */
    background-size: cover; /* 通用 */
}
.el-dropdown-link {
    cursor: pointer;
    color: white;
}
#personal {
    color: black;
}
#user:hover {
    color: aqua;
}
/* 导航栏背景颜色 */
.nav-color {
    background-color: #000 !important;
}
