.clearfix::before,
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
html,
body,
header,
#intro {
    height: 100%;
    
}
.w{
    width: 1190px;
    margin: 0 auto;
}
#intro {
    background: url("../img/sample.jpg") no-repeat center center fixed;
    -webkit-background-size: cover; /* 针对Chrome, Safari, Edge等浏览器 */
    -moz-background-size: cover; /* 针对Firefox浏览器 */
    -o-background-size: cover; /* 针对Operallq */
    background-size: cover; /* 通用 */
}
.el-dropdown-link {
    cursor: pointer;
    color: white;
}
#personal {
    color: black;
}
#user{
    font-size: 1.1rem;
}
#user:hover {
    color: aqua;
    
}
/* 导航栏背景颜色 */
.nav-color {
    background-color: #000 !important;
}

/* 页面右侧回到顶部工具栏 */
.to-top{
    width: 26px;
    background-color: white;
    position: fixed;
    top: 70%;
    right: 20%;
    border: 1px solid #f4f4f4;
}
.to-top i{
    color: black;
    width: 26px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
}
.to-top i:hover{
    transform: scale(0.8);
    transition: 0.3s;
}
