.card-wrapper {
    background-color: #fafafa;
    border: 1px solid #e1e2e5;
    box-shadow: 0 0 10px 10px #f1f1f1;
    width: 1400px;
    margin: 0 auto;
    margin-top: 100px;
}
.left-nav {
    float: left;
    width: 150px;
    height: 100%;
    background-color: #fafafa;
}
.left-nav .title {
    border-bottom: 1px solid #e1e2e5;
    line-height: 51px;
}
.left-nav .left-item{
    border-bottom: 1px solid #e1e2e5;
    line-height: 51px;
    /* background-color: #00a1d7; */
}
.left-nav .left-item a{
    display: block;
    font-size: 14px;
    color: #222222;
    height: 51px;
    text-align: center;
}

.left-nav .title span
{
    display: block;
    font-size: 16px;
    color: #c2d0c6;
    height: 51px;
    text-align: center;
}
.inner {
    float: left;
    background-color: #ffffff;
    width: 1248px;
    
    
    border-left: 1px solid #e1e2e5;
}
.inner .top {
    border-bottom: 1px solid #e1e2e5;
    line-height: 51px;
}
.inner .top span {
    display: block;
    font-size: 18px;
    color: #00a1d6;
    height: 51px;
    margin-left: 25px;
    font-weight: bold;
}
.inner .content {
    margin: 0 auto;
    padding: 20px 40px 0;
    
    
}

/* 新建客户输入行样式 */
.el-form-item {
    width: 440px;
    height: 50px;
    margin: 0 auto;
}
.el-form-item__label{
   
    font-size: 16px;
}

.savebtn {
    border-radius: 100px;
    width: 100px;
}
.savebtn:hover{
    transform: scale(0.95,0.95);
    transition: 1s;
}

#c-list{
    background-color: #00a1d7;
}
#c-list a{
    color: white;
}

.el-form{
    text-align: center;
}

/* 显示内容区1 隐藏内容区2 */
#content1{
 
    display: block;
}
#content2{
    display: none;
}
thead .cell {

    line-height: 50px !important;
    background-color: #e1e2e5;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #00a1d7;
}

tbody .cell {
    line-height: 80px !important;
    text-align: center;
    font-size: 20px;
    border-bottom: 1px solid #e1e2e5;

}
thead .el-table_1_column_6 .cell{
    display: flex;
    
}
thead .el-table_1_column_6 .cell input{
    border: none;
}
tbody .el-table__row:hover .cell{
    transition:  1s;
    background-color: #00a1d7;
    color: white;
}
.el-button--default,
.el-button--danger{
    border-radius: 20px;
}
.el-button--danger:hover,
.el-button--default:hover{
    transform: scale(0.95,0.95);
    transition: 1s;
}